<% @tweets.each do |t| %>
  <li class="tweet" id="<%= t.id %>">
  <%= user_icon(t.user) %>
  <div class="description">
    <p class="body"><%= linkify t.body %></p>
    <p class="user">by <%= link_to t.user.screen_name || t.user.email, :controller => :user, :action => :timeline, :id => t.user.id %></p>
    <p class="time"><%= jp_time t.created_at %></p>
    <p class="buttons">
    <span class="reply">Reply</span>
    <span class="retweet">RT</span>
    <% if t.user == current_user %>
      <span class="delete">
        <%= link_to "Del", {:controller => :tweet, :action => :delete, :id => t.id}, :method => "POST", :confirm => "remove?" %>
      </span>
    <% elsif current_user.favorite(t) %>
      <span class="unfavorite"><%= link_to "★", {:controller => :tweet, :action => :unfavorite, :id => t.id}, :method => "POST" %></span>
    <% else %>
      <span class="favorite"><%= link_to "★", {:controller => :tweet, :action => :favorite, :id => t.id}, :method => "POST" %></span>
    <% end %>
    </p>
  </div>
  <hr class="defloat" />
  </li>
<% end %>
