<% @tweets.each do |t| %>
  <li id="<%= t.id %>" <%= raw %q{data-theme="e"} if is_replied?(t) %>>
    <%= icon_tag(t.user.profile_image_url, :size => "80x80") %>
    <h3><%= t.user.screen_name %></h3>
    <p><%= linkify sanitize(t.body) %></p>
    <p><%= jp_time t.created_at %></p>
  </li>
<% end %>
