<% @tweets.each do |t| %>
  <li>
  <% user = t.user %>
  <%= link_to user.profile_image_url ? image_tag(user.profile_image_url, :size => "50x50") : "",
    {:controller => :user, :action => :timeline, :id => user.id},
    :style => "background-color:" + random_color(user.email),
    :class => :icon %>
  <div class="description">
    <p class="body"><%= linkify t.body %></p>
    <p class="user">by <%= link_to t.user.screen_name || t.user.email, :controller => :user, :action => :timeline, :id => t.user.id %></p>
    <p class="time"><%= time_ago_in_words t.created_at %> ago</p>
    <p class="buttons">
    <span class="reply">Reply</span>
    <span class="retweet">RT</span>
    <% if t.user == current_user %>
      <span class="delete">
        <%= link_to "Del", {:controller => :tweet, :action => :delete, :id => t.id}, :method => "POST", :confirm => "remove?" %>
      </span>
    <% else %>
      <span class="favorite">Fav</span>
    <% end %>
    </p>
  </div>
  <hr class="defloat" />
  </li>
<% end %>
