<% @tweets.each do |t| %>
  <li>
  <div class="icon" style="background-color:<%= random_color(t.user.email) %>">
    <%= image_tag t.user.profile_image_url, :size => "50x50" if t.user.profile_image_url %>
  </div>
  <div class="description">
    <p class="body"><%= linkify t.body %></p>
    <p class="user">by <%= t.user.screen_name || t.user.email %></p>
    <p class="time"><%= time_ago_in_words t.created_at %> ago</p>
    <p class="buttons">
    <span class="reply">Reply</span>
    <span class="retweet">RT</span>
    <% if t.user == current_user %>
      <span class="delete"><%= link_to "Del", {:controller => :tweet, :action => :delete, :id => t.id}, :method => "POST", :confirm => "remove?" %></span>
    <% else %>
      <span class="favorite">Fav</span>
    <% end %>
    </p>
  </div>
  <hr class="defloat" />
  </li>
<% end %>
