<div class="wiki">
  <div class="detail">
    <h3 class="title"><%= @page.name %></h3>
    <p class="menu">
    <span><%= link_to t(:edit), wiki_edit_url(@page.name) %></span>
    <span><%= link_to t(:delete), wiki_delete_url(@page.id), :confirm => t("confirm_to_delete") %></span>
    </p>
    <div class="body"><%= prettify_to_html @page.body %></div>
    <p class="back"><%= link_to t("wiki.back_to_index"), wiki_index_url %></p>
  </div>
</div>
