<div class="users">
  <h3><%=t ".user_list" %></h3>
  <ul class="userLists">
    <% @users.each do |user| %>
      <li>
      <%= user_icon(user) %>
      <table>
        <tr class="name">
          <td><%=t "user.attr.screen_name" %></td>
          <td>:</td>
          <td><%= link_to user.screen_name, user_timeline_url(user.screen_name) %></td>
        </tr>
        <tr class="email">
          <td><%=t "user.attr.email" %></td>
          <td>:</td>
          <td><%= user.email %></td>
        </tr>
        <tr class="lastTweet">
          <td><%=t ".last_tweet" %></td>
          <td>:</td>
          <% tweet = user.tweets.recent.first %>
          <td><%= jp_date tweet.created_at if tweet %></td>
        </tr>
        <tr class="count">
          <td><%=t "user.attr.tweets_count" %></td>
          <td>:</td>
          <td><%= user.tweets_count %></td>
        </tr>
      </table>
      <hr class="defloat" />
      </li>
    <% end %>
  </ul>
  <%= paginate @users %>
</div>
