<!DOCTYPE html>
<html>
  <head>
    <title>Mio</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <div class="inner">
        <h1><%= link_to "Mio", :root %></h1>
        <!--<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>-->
        <div class="user">
          <% if user_signed_in? %>
            <span class="config"><%= link_to "Config", :user_config %></span>
            <span class="room"><%= link_to "Rooms", :room_index %></span>
            <span class="logout"><%= link_to "logout", :destroy_user_session %></span>
          <% end %>
        </div>
        <hr class="defloat" />
      </div>
    </div>
    <div id="main">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="inner">
        Mio 2011 &copy; Some Rights Reserved.
      </div>
    </div>
  </body>
</html>
