!!!
%html
  %head
    %title= @title ? @title : "Mio"
    = stylesheet_link_tag %w{fileuploader jquery.autocomplete style}
    = javascript_include_tag %w{jquery jquery.lazyload jquery.autocomplete rails pusher application}
    :javascript
      $(function(){ initPusher("#{Setting.pusher.key}") });
    = csrf_meta_tag
  %body
    %header#header
      .inner
        %h1= link_to "Mio", :root
        .menu
          - if user_signed_in?
            %span= link_to "Search", :tweet_search
            %span= link_to "Wiki", :wiki_index
            %span= link_to "Users", :user_index
            %span= link_to "Setting", :user_setting
            %span= link_to "Rooms", :room_index
            %span= link_to "Logout", :destroy_user_session
        %hr.defloat/
    #main
      .inner
        .gadgets
          - if Setting.calendar.iframe_url
            = link_to t("button.calendar"),
              :gadget_calendar,
              :remote => true,
              :class => "calendar",
              "data-type" => "html",
              "data-update" => "gadget"
            #gadget
        = yield
    %footer#footer
      .inner
        Mio 2011 &copy; Some Rights Reserved.
