<!DOCTYPE html>
<html>
  <head>
    <title>Mio</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag %w{jquery jquery.lazyload rails application} %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <div class="inner">
        <h1><%= link_to "Mio", :root %></h1>
        <div class="menu">
          <% if user_signed_in? %>
            <span><%= link_to "Search", :tweet_search %></span>
            <span><%= link_to "Wiki", :wiki_index %></span>
            <span><%= link_to "Users", :user_index %></span>
            <span><%= link_to "Setting", :user_setting %></span>
            <span><%= link_to "Rooms", :room_index %></span>
            <span><%= link_to "logout", :destroy_user_session %></span>
          <% end %>
        </div>
        <hr class="defloat" />
      </div>
    </div>
    <div id="main">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="inner">
        Mio 2011 &copy; Some Rights Reserved.
      </div>
    </div>
  </body>
</html>
